/* To remove default browser setting */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
/* container class style  */
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(75deg, #153677, #690d81 );
    padding: 10px;
    
}
/* childContainer style */
.childContainer{
    width: 100%;
    max-width: 540px;
    background: #fff 20px;
    padding: 40px 30px 70px;
    margin: 100px auto;
    border-radius: 10px;
}
/* clock image  */
.clockImage{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.setTime1{
    display: flex;
    flex-direction: column;
    width: 50%;
    background: rgb(131, 165, 131);
    border: 2px solid rgb(9, 0, 128);
    border-radius: 5%;
    
}
.setTime1 div{
    margin: 10px;
    }
    #clock{
        color:red;
        font-family: 'Digital-7', 'DS-Digital', 'LCD', 'Orbitron', sans-serif;
        border: 20px solid rgb(125, 35, 39);
        /*  */
        text-align: end;
        padding: 5px;
        border-radius: 10px;
        box-shadow: inset 0 0 0 2px #333;
        background-color: #f0f0f0;
    }
/* clock image styling img */

.clockImage img{
    width: 150px;
    height: 150px;
    margin-right: 40px;
    margin-top: -20px;
}

.childContainer div{
    /* margin-bottom: 40px; */
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
/*  */

.hidden {
    display: none;
}


/* set alarm button */
button{
    border: none;
    outline:none ;
    padding: 16px 50px;
    background: #ff5945;
    color:#fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 40px;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}


/*  */
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
/* added alarms list unchecked png */
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border-color: aqua;
    background-image: url(images/unchecked.png);
    background-size:cover ;
    background-position: center;
    top: 10px;
    left: 8px;

}
/* added alarms list checked png   */
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
/*  */
ul li.checked::before{
    background-image: url(images/checked.png);

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
/*  */
ul li span:hover{
    background:#edeef0 ;
}
/*  */
.audio1{
    display: block;
}
/*  */

.checkAlarm {
    margin-top: 40px;
    margin-right: -12px;
    
}
/* checkalarm input and am pm style */
.checkAlarm input ,#amPm{
    font-size: 22px;
    font-weight: bold;
    color: #455d83;
    height: 40px;
    width: 60px;
    border: 2px solid rgb(151, 224, 151);
    /* background-color: red; */
    /* margin-left: 30px; */
     font-display: 20px;
    border-radius: 20%;
    text-align: center;
}
/* CSS */

